

@import 'reset';


* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: #fff;
	color: gray;
}

.home, .submitGiphy, .vote, .win{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: auto 30px;
	text-align: center;

	h1{
		font-size: 33px;
		margin: 80px auto;
		display: flex;
	}

	h2{
		font-weight: 700;
		font-size: 25px;
		padding-bottom: 20px;
	}

	p{
		padding: 10px 0;
		line-height: 1.5em;
	}

	.prompt{
		font-weight: bold;
		font-size: 1.2em;
		padding: 30px 0;
	}

	input {
		width: 275px;
		height: 50px;
		margin: 20px auto;
		padding: 0 25px;
		font-size: 1.2em;
		border: 0;
		border-bottom: 2px solid #6b469c;
		background: transparent;
		text-align: center;
		color: #6b469c;
		outline: 0; //gets rid of box outline when you type

		&::placeholder{
			color: #6b469c;
		}
	}

	.nav {
		margin-top: 40px;
		font-size: 1.3em;
		color: #6b469c;
		border: 1px solid #6b469c;
		text-decoration: none;
		padding: 18px;
		width: 180px;
		align-self: center;
		white-space: nowrap;

		&[disabled]{
			pointer-events: none; //cant click
			opacity: 0.5;
		}

		&:hover{
			background-color: #6b469c;
			color: #fff;
		}
	}

	.back-and-submit{
		padding: 50px;

		.nav{
			margin: 0 5px;
		}
	}
}

button{
	padding: 18.5px 30px;
	border: 1px solid #6b469c;
	color: #6b469c;
	font-size: 1.3em;
	
	&:hover{
		background-color: #6b469c;
		color: #fff;
		cursor: pointer;
	}
}

.active{
	border: 3px solid #6b469c;
}


.giphys{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	li{
		
		img{
			width: 250px;
			height: 200px;
			padding: 20px;
		}
		
	}
}

.votes{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

	li{
		display: flex;
		flex-direction: column;
		img{
			width: 250px;
			height: 200px;
			padding: 20px;
		}
	}
}


.win{
	img{
		width: 300px;
		height: 230px;
		padding: 20px;
	}
}

